$board-bg-color: #9c5cd7;
$navbar-app-bg-color: rgb(106, 121, 255);
$navbar-board-bg-color: #9c5cd7;
$list-bg-color: #f5f5f5;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;
$gap: 15px;